body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Tahoma, sans-serif
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 350px;
    border: 1px solid black;
    margin-top: 15%;
    background-color:rgb(110, 218, 186)
}

#output-box {
    border: 1px solid black;
    width: 290px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: right;
    background-color:rgb(255, 255, 255)
}

#btn-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 300px;
    border: 1px solid black;
}

button {
    width: 75px;
    height: 50px;
    font-size: 27px;
}

#btn-0 {
    width: 150px;
}

.btn-group-1 {
    background-color: rgb(202, 161, 235);
}

.btn-group-2 {
    background-color:rgb(141, 157, 231);
}

.btn-group-3 {
    background-color:rgb(230, 231, 155)
}