body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 350px;
    border: 1px solid black;
    margin-top: 15%;
}

#output-box {
    border: 1px solid black;
    width: 290px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: right;
}

#btn-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 300px;
    border: 1px solid black;
}

button {
    width: 75px;
    height: 50px;
    font-size: 27px;
}

#btn-0 {
    width: 150px;
}